.profile-page__title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.profile-page__link {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    text-decoration: none;
    transition: border-bottom 0.3s ease-in-out;
}

.profile-page__link:hover,
.profile-page__link.active {
    border-bottom: 2px solid;
    border-bottom-color: #DC5DFC;
}

.profile-page__link--favorites {
    background-image: url('../../assets/banner/heart.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left center;
    padding-left: 30px;
}

.profile-page__link--settings {
    background-image: url('../../assets/settings.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    ;
    background-position: left center;
    padding-left: 25px;
}

.profile-page__nav-wrapper {
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}

.profile-page__link-mobile {
    display: none;
}

@media (max-width: 1023px) {
    .profile-page__title {
        font-size: 36px;
    }

    .profile-page__nav-wrapper {
        gap: 24px;
    }

    .profile-page__link {
        font-size: 20px;
    }
}

@media (max-width: 767px) {

    .profile-page {
       margin-bottom: 20%;
    }

    .profile-page__title {
        font-size: 24px;
    }

    .profile-page__nav-wrapper {
        gap: 16px;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .profile-page__link {
        font-size: 18px;
    }

    .profile-page__link-desktop {
        display: none;
    }

    .profile-page__link-mobile {
        display: inline;
    }
}