.genres-page {
    margin-bottom: 100px;
}

.genres-page__title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.genres-page__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    list-style: none;
    padding: 80px 0 0 0;
    margin: 0;
}

.genres-page__item {
    width: 100%;
    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 1279px) {
    .genres-page__list {
        gap: 20px;
        padding-top: 60px;
    }
}

@media (max-width: 1023px) {
    .genres-page__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .genres-page {
        margin-bottom: 60px;
    }

    .genres-page__title {
        font-size: 24px;
    }

    .genres-page__list {
        grid-template-columns: 1fr;
        gap: 16px;
        padding-top: 40px;
    }
}