.header,
main,
footer {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 40px;
}


/* navbar */
.header__navbar {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}

/* Logo */
.header__logo-img {
    width: 143px;
    margin-right: 40px;
}



/* Links */

.header__links {
    display: flex;
    align-items: center;
}

.header__link,
.header__btn {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    margin-right: 40px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;

    &:hover,
    &.active {
        border-bottom-color: #DC5DFC;
    }
}

/* Button */
.header__btn {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Play, sans-serif;
    color: #fff;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    margin-left: 20px;

    &:hover,
    &.active {
        border-bottom-color: #DC5DFC;
    }

}


/* Footer */
.footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.footer__social-link {
    text-decoration: none;
    color: #fff;
}

.main {
    flex: 1;
}